@font-face {

	font-family: 'opificio_neueregular';
    src: url('../fonts/opificio_neue-regular-webfont.eot');
    src: url('../fonts/opificio_neue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opificio_neue-regular-webfont.woff2') format('woff2'),
         url('../fonts/opificio_neue-regular-webfont.woff') format('woff'),
         url('../fonts/opificio_neue-regular-webfont.ttf') format('truetype'),
         url('../fonts/opificio_neue-regular-webfont.svg#opificio_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.cbp-mc-form {
	position: relative;
	margin-top: 100px;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */


::-webkit-input-placeholder { /* WebKit browsers */
    color: #900E1C;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #900E1C;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #900E1C;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #900E1C;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 100px;
	margin: auto;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #900E1C;
	border: none;
	color: #094f5d;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #094f5d;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}